/**
 *  UI STYLES
 */

/***  LAYOUT OF  SECTIONS ***/
main#app-container{
    display:                grid;
    grid-template-areas:    'ui vis legend';
    grid-template-columns:  2fr auto 1fr;
    justify-content:        center;
    height:                 100vh;

    /** CSS Variables to be programatically added **/
    --top-margin:           calc( 50 / 1100 * 100vh);
    --bottom-margin:        calc( 50 / 1100 * 100vh);
    --right-margin:         calc( 50 / 1100 * 100vh);
    --left-margin:          calc( 50 / 1100 * 100vh);
}

main#app-container.centered{
    grid-template-columns:  1fr auto 1fr;
}

/*** GENERAL TYPOGRAPHY AND SHARED***/
p{
    line-height:        1.5;
    font-weight:        100;
    font-size:          0.8125rem;
}
a{
    text-decoration: underline dotted;
    color:          rgb(var(--fg-color));
}
a:visited{
    color:          rgb(var(--fg-color));
}
a:hover{
    font-weight:    600;
}
ul, .label{
    margin-block-start: 0;
    margin-block-end:   0;
}

h1.title{
    font-size:          1.5rem;
    text-transform:     uppercase;
    line-height:        1.1;
    margin-block-start: 0.25rem;
    margin-block-end:   0.25rem;

}

h1.title .minor,
select{
    font-weight:        100;
    font-size:          1rem;
    letter-spacing:     0.25rem;   
}

h2.label{
    text-transform:     lowercase;
    opacity:            0.75;
    font-size:          0.8125rem;
}
.mode-content h2{
    font-size:          0.8125rem;
}
.mode-content h3{
    text-transform:     lowercase;
    font-size:          0.625rem;
}

select{
    margin-left:        0.5rem;
}
input[type="checkbox"]{
  accent-color:         var(--color-selection); 
}
input[type="radio"] {
  accent-color:         var(--color-frequency);
}

.esw-input.checkbox-input,
.re-input.checkbox-input{
    padding-bottom: 0.075rem;
}

label.switch-label{
    font-size:          0.625rem;
    font-weight:        600;
}

.hide{
    opacity:            0
}

.mode {
    font-weight:        600;
}

/* Guidance / tips*/
.guidance-container{
    border:             1.5px dotted;
    margin:             1rem 0;
    padding:            0 0.5rem;
    border-radius:      0.5rem;   
    transition:         all 500ms;
}
.guidance-container p{
    font-size:          0.625rem;
}

.underline{
    padding-bottom:     0rem; /* optional spacing between text and underline */
    font-weight:        700;
}
.selected.underline{
    border-color:       var(--color-selection);
    color:              var(--color-selection);
}
.downstream.underline{
    border-color:       var(--color-downstream);
    color:              var(--color-downstream);
}
.upstream.underline{
    border-color:       var(--color-upstream);
    color:              var(--color-upstream);
}
.upstream.downstream.underline{
    border-color:       var(--color-updown);
    color:              var(--color-updown);
}

.highlighted.entity{
    display:            inline-block;
    padding:            0rem 0.25rem;
    background:         var(--color-selection);
    border-radius:      0.5rem;
    color:              rgb(var(--bg-color));
    border:             1px solid rgb(var(--bg-color));
}


/************************ 
 ***  1. UI SECTION   ***  
 ************************/

/**
 *  LAYOUT for UI SECTION
 */

section.ui{
    grid-area:          ui;
    padding-top:        var(--top-margin);
    padding-bottom:     var(--bottom-margin);
    padding-left:       var(--left-margin);
    padding-right:      calc(var(--left-margin)* 0.5);
}

.ui-content{
    display:            grid;
    grid-template-rows: auto auto 1fr  auto ;
    height:             calc(100vh - var(--top-margin) - var(--bottom-margin)); 
}

/**
 *  1A. TITLE 
 */

.ui-title-container{
    padding-bottom:     calc( var(--top-margin) * 0.25);
}

.title-selector-container{
    display:            flex;
    align-items:        baseline;
    margin-top:         -0.7rem;
}

/**
 *  1B. MODE / NAV: Mode and sub-mode nav 
 */
ul.ui-mode-menu{
    margin-block-start: 0;
    margin-block-end:   0;  
    margin:             0.5rem 0;
    display:            flex;
    width:              100%;
    justify-content:    space-between;
}

ul.ui-mode-menu,
ul.ui-sub-mode-menu{
    display:            flex;
    padding:            0;
    list-style-type:    none;   
}
ul.ui-sub-mode-menu{
    margin-bottom:      1rem;
}
ul.ui-mode-menu li,
ul.ui-sub-mode-menu li{
    font-size:          0.625rem;
    text-transform:     lowercase;
    cursor:             pointer;
}

ul.ui-mode-menu li{
    padding:            0.25rem 0.5rem;
    width:              100%;
    border-top:         1px solid rgb(var(--fg-color));
    border-bottom:      1px solid rgb(var(--fg-color));
}

ul.ui-mode-menu li:not(:last-child){
    padding-right:      1rem;
}

ul.ui-sub-mode-menu li:not(:last-child){
    padding-right:      0rem;
    margin-right:       1rem;
}

ul.ui-mode-menu li.selected,
ul.ui-sub-mode-menu li.selected{
    font-weight:        700;
}

ul.ui-mode-menu  li.ui-mode-option.selected{
    color:              rgb(var(--bg-color));
    background:         rgb(var(--fg-color));
}

ul.ui-sub-mode-menu li.selected{
    border-bottom:      3px solid;   
}

/**
 *  1C. INFO / CONTENT: Main content section buy mode 
 */


.ui-info-container{
    padding-top:        calc( var(--top-margin) * 0.125);
}

.ui-info-wrapper{
    height:             100%;
}

/*** INFO CONTENT VIEW: Classes to to allow content to be viewed by parent mode classes***/
/** Set display to none by default **/
.ui-info-wrapper, 
.ui-info-wrapper .mode-content, 
.sub-group-container{
    display:            none;
}

/** Reset display when parent classes are added by mode, to control view**/
.overview-mode .ui-info-wrapper.overview-mode,

.entities-mode .ui-info-wrapper.entities-mode, 
.ui-info-wrapper.entities-mode.responsible .responsible,
.ui-info-wrapper.entities-mode.browse .browse,
.ui-info-wrapper.entities-mode.trace .trace,
.ui-info-wrapper.entities-mode.blend .blend,

.service-mode .ui-info-wrapper.service-mode,
.ui-info-wrapper.service-mode.ews .ews,
.ui-info-wrapper.service-mode.service .service,
.ui-info-wrapper.service-mode.frequency .frequency,

.vulnerability-mode .ui-info-wrapper.vulnerability-mode,
.ui-info-wrapper.vulnerability-mode.failure-specialised .failure-specialised,
.ui-info-wrapper.vulnerability-mode.feedback .feedback,

.key-mode .ui-info-wrapper.key-mode,
.ui-info-wrapper.key-mode.node-link .node-link,
.ui-info-wrapper.key-mode.upstream-downstream .upstream-downstream,
.ui-info-wrapper.key-mode.vis-detail .vis-detail{
    display:            revert;
}


/** 1C. i. OVERVIEW MODE **/

/** 1C. ii. entities MODE **/
.responsible-entities-selection-header{
    text-transform: lowercase;
}
.responsible-entities-input-container{
    columns:  2;
}
.responsible-entities-input-container input[type="radio"] {
    accent-color:         var(--color-selection); 
}

/** Trace selection container depth indicator */
.trace-selection-container,
.blend-selection-container{
    display:                none;;
    border-left:             1rem solid var( --color-selection);
    padding-left:           0.5rem;
    margin-top:             2rem;
    transition:             all 500ms;
}

.trace-selection-entity,
.blend-selection-entity {
    font-weight:            600;
    text-transform:         uppercase;
    letter-spacing:         0.065rem;
}
.trace-selection-info-label,
.blend-selection-info-label{
        text-transform:         lowercase;
}
.trace-selection-info-container,
.blend-selection-info-container{
    font-size:              0.625rem;
    display:                grid;
    grid-template-columns:  1fr 3fr;
    column-gap:             1rem;
    margin-bottom:          0.5rem;
}

.trace-depth-container-header{
    font-size:              0.625rem;    
    font-weight:            600;
    text-transform: lowercase;
}

.trace-depth-container-header,
.trace-depth-container-upstream,
.trace-depth-container-downstream{
    margin-top:             1rem;
}

.trace-depth-indicator-container{
    margin-top:             0.25rem;
    display:                flex;
}

.trace-depth-label{
    font-size:              0.5rem;    
    font-weight:            600;
}

.trace-depth-label.upstream{
    color:              var( --color-upstream);
}

.trace-depth-label.downstream{
    color:              var( --color-downstream);
}

.trace-level-indicator{
    font-size:          0.5rem;
    font-weight:        600;
    display:            flex;
    border:             1px solid;
    aspect-ratio:       1;
    height:             0.8rem;
    padding:            0.25rem;
    align-items:        center;
    justify-content:    center;
    margin-right:       0.5rem;
    border-radius:      50%;
    opacity:            0.2;
    color:              rgb(var(--bg-color));
    transition:         all 500ms;
}

.trace-level-indicator.visible{
    opacity:            1;
}

.upstream .trace-level-indicator{
    background:         var( --color-upstream);
}

.downstream .trace-level-indicator{
    background:         var( --color-downstream);
}

/** Blend selection **/
.blend-selection-container{
    font-size:          0.625rem;
}

.blend-selection-header{
    font-weight:        600;
    text-transform:     lowercase;
    padding-left:       0.5rem;
}

ul.blend-selection-list{
    padding-inline-start:   1rem;
    columns:                2;
}
ul.blend-selection-list li{
    color:              var( --color-selection);
    font-weight:        600;
}

/** 1C. iii. SERVICE MODE **/
.service-mode-content p{
    /* margin-block-start: 0; */
}
.checkbox-input{
    display:            flex;
    align-items:        center;
}

.checkbox-input label{
    padding-left:       0.25rem;;
}

.esw-inputs-container,
.frequency-inputs-container{
    margin-top:         1rem;
}
.frequency-input{
    margin-bottom: 0.5rem;
}
.frequency-input input{
    margin: 0
}

.service-inputs-container{
    display:                grid;;
    grid-template-columns:  1fr 1fr;
    column-gap:             calc(var(--left-margin)* 0.5);;
}

.service-options-label{
    font-size:              0.625rem;
    font-weight:            600;
    margin-bottom:          0.5rem;
}
.service-options-label.downstream{
    margin-top:             1rem;
}
.frequency-inputs-container{
    /* columns:                2; */
}

/** 1C. iv. VULNERABILITY MODE **/
.vulnerability-mode-content{
}
.vulnerability-option-container{
    display:                grid;
    grid-template-columns:  1fr auto;
    row-gap:                1rem;
    margin-top:             1rem;
}
.vulnerability-option-container label{
    margin-left:            0;
    justify-self:           end;
}

.vulnerability-option-content{
    display:                flex;
    align-items:            center;
}

.vulnerability input:where([type="checkbox"][role="switch"]){
    margin-left:            1rem;
}

/** 1C. v. KEY MODE **/
.key-header{
    text-transform: lowercase;
}
.key-header.links{
    margin-block-end:       0;
}
.key-header.feedback{
    margin-block-start:         3rem;
}
.key-container{
    display:                grid;
    grid-template-columns:  auto 2fr 1fr;
    column-gap:             1rem;
    align-items:            center;
}
.key-container.link-container{
    display:                flex;
    justify-content:        center;
    height:                 4rem
}
.key-container.details-container{
    grid-template-columns:  3rem 2fr;
}

.key-mark-container{
    height:                 2rem;
    display:                flex;
    justify-content:        center;
}
.key-mark-container.feedback-trigger,
.key-mark-container.single-point{
    height:                 4rem
}
.key-mark-label p,
.key-mark-label, 
.key-label{
    font-size:              0.625rem;
}
.key-mark-label.feedback{
    display:                flex;
    align-items: center;
}
.key-label{
    font-weight:            700;
}
.key-label p{
    font-size:              0.5rem;
    margin-block-start:  0;
    margin-block-end:  0;
}
.key-label.upstream{
    color:                  var(--color-upstream);
}
.key-label.downstream{
    color:                  var(--color-downstream);
}
.key-label.upstream.downstream{
    color:                  var(--color-updown);
}
.key-label.selected{
    color:                  var(--color-selection);
}

.key-mark-label.left{
    text-align:             right;
    justify-content:        end;
}
.key-mark-label-note{
    font-size:              0.5rem;
    font-style:             italic;
}
.key-link-container.vertical{
    display:                grid;
    grid-template-columns:  1fr 0.25fr 0.25fr 1fr;
    margin-bottom:          1rem;
}
.key-link-container.vertical .key-link-label{
    grid-column:            2 /4;
    font-size:              0.5rem;
    font-style:             italic;
    text-align:             center;
    padding:                0.25rem
}
.key-link-container.vertical  .key-mark-label.left{
    grid-column:  1 /2;
} 
.key-link-container.vertical .key-mark-label.right{
    grid-column:  4 /5;
} 
.key-link-container{
    display:                grid;
    grid-template-columns:  1fr 1fr;
}

.key-upstream-downstream-container{
    display:                grid;
    grid-template-columns:  1fr 1fr;    
}
.key-upstream-downstream-vis-container{
    height:                 8rem;
    display:                flex;
    justify-content:        center;
}
.key-upstream-downstream-label-container{
    display:                grid;
    grid-template-rows:     30% 40% 30%;
    align-items:        center;
}
circle.key-selected{
    fill:               var(--color-selection);
    stroke:             rgb(var(--bg-color));
}
rect.node-legend{
    stroke:             rgb(var(--bg-color));
    stroke-width:       0.5px;
}
rect.node-legend.upstream,
path.link-legend.tapered.upstream{
    fill:               var(--color-upstream);
}
circle.node-legend.node-circle.upstream{
    stroke:               var(--color-upstream);
}
.responsible-entity circle.node-legend{
    fill:               rgb(var(--fg-color));
}
rect.node-legend.downstream,
path.link-legend.tapered.downstream,
circle.node-legend.node-circle.downstream{
    fill:               var(--color-downstream);
}
circle.node-legend.node-circle.upstream.downstream{
    stroke:              var(--color-updown);
    fill:               none;
}
path.link-legend.tapered.downstream.upstream{
    fill:              var(--color-updown);
    stroke:              var(--color-updown);
}
circle.node-legend.node-circle.downstream.upstream{
    stroke:               var(--color-updown);
    fill:             rgb(var(--bg-color));
}
.responsible-entity circle.node-legend.node-circle.downstream.upstream{
    fill:               var(--color-updown);
    stroke:             rgb(var(--bg-color));
    stroke-width:       1px;
}

path.link-legend.upstream{
    stroke:               var(--color-upstream);
}
path.link-legend.downstream{
    stroke:               var(--color-downstream);
}
line.service-stripe-legend{
    stroke:    rgb(var(--bg-color));
}
path.single-failure-point-legend{
    stroke: rgb(var(--bg-color));
    stroke-width: 0.5px;
    fill: none
}
path.link-legend.tapered.downstream.upstream.feedback{
    fill:              var(--color-updown);
    stroke:             rgb(var(--fg-color));
}

/**
 *  D. UI OPTIONS: Global UI options
 */
.ui-option-content{
    display: flex;
    align-items: center;
}

.ui-options-container{
    border-top:             1px solid;
    padding-top:            calc( var(--top-margin) * 0.25);
    display:                grid;
    grid-template-columns:  1fr 1fr 1fr;
}

.ui-option-container{
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

.ui-option-container:first-child{
    justify-content:    start;
}

.ui-option-container:last-child,
.switch-selector-container .left{ 
    justify-content:    end;
}

.switch-selector-container{
    display:                grid;
    grid-template-columns:  1fr auto auto;
}

.switch-selector-container .left,
.switch-selector-container .right{
    display:            flex;
    align-items:        center;
    opacity:            0.5;
}
.switch-selector-container .left{
    padding-right:       0.5rem;
}

.switch-label.selected{
    opacity:            1;
}

/************************* 
 ***  2. VIS SECTION   ***  
 *************************/
section.visualisation-section{
    display:            flex;
    justify-content:    center;
    align-items:        start;
    grid-area:          vis;
}

.visualisation-wrapper{
    width:              100vmin;    
}

main{
    /** CSS Variables to be programatically added **/
    --top-margin:           calc( 50 / 1100 * 100vh);
    --bottom-margin:        calc( 50 / 1100 * 100vh);
    --right-margin:         calc( 50 / 1100 * 100vh);
    --left-margin:          calc( 50 / 1100 * 100vh);
    /** For data legend */
    --source-section:           25%;      
    --intermediate-section:     60%;      
    --sink-section:             15%;      
}

/**************************** 
 ***  3. LEGEND SECTION   ***  
 ****************************/

section.legend{
    grid-area:          legend;
    padding-top:        var(--top-margin);
    padding-bottom:     var(--bottom-margin);
    padding-right:      var(--right-margin);
}

.legend-wrapper .node-groups{
    height:             calc(100vh - var(--top-margin) - var(--bottom-margin)); 
    display:            flex;
    flex-direction:     column;
}
.legend-section{
    display:            flex;
    flex-direction:     column;
}

.legend-source-section{
    height:             var(--source-section);
}

.legend-source-link-section{
    height:             var(--source-link-section);
}

.legend-intermediate-section{
    height:             var(--intermediate-section);
    padding-top:        0.75rem;
    border-top:         0.5px solid #ddd;
    border-bottom:      0.5px solid #ddd;
}

.legend-sink-link-section{
    height:                 var(--sink-link-section);
}

.legend-sink-section{
    height:                 var(--sink-section);
    display:                flex;
    justify-content:        end;
}

.legend-stat-group{
    margin-top:             0.5rem;
}

.legend-sink-section-wrapper,
.legend-stat-group.sink{
    display:                flex;
    flex-direction:         column-reverse;
}

.legend-stat-group.sink{
    margin-top:             0rem;
    margin-bottom:          0.5rem
}

.legend-stat-container{
    font-size:              0.625rem;
    display:                grid;
    grid-template-columns:  1fr 4fr; 
    text-transform:         lowercase;
    /* cursor:                 pointer; */
    padding:                0.125rem 0
}

.legend-stat-container.headline{
    font-weight:            600;
}

.legend-stat-container:hover{
    /* font-weight:            600;
    text-decoration:        underline; */
}

.legend-label{
    font-size:              0.625rem;
}



/*********************************** 
 ***  RESPONSIVE LAYOUT: BASIC   ***  
 ***********************************/



/**************************** 
 ***  PRINT MEDIA QUERY   ***  
 ****************************/

@media print {

    .ui-options-container{
        display: none !important;
    }   
    /* These overrides are 'hacky' and coudl do with proper optimsation as an enhancement */
    main#app-container{
        aspect-ratio:  16/10 ;
        grid-template-columns:  1fr 3fr 2fr;
    }
    section.visualisation-section {
        align-items: center;
    }
    .visualisation-wrapper{
        width: 100%
    }
}